<div id='pokedex'>
  <div class='pokemon-index'>
    <form class='new-pokemon'>
      <div>
        <label 
          for='pokemon_name'>Name:</label>
        <input
          type='text'
          name='pokemon[name]'>
      </div>

      <div>
        <label 
          for='pokemon_number'>No.:</label>
        <input
          type='number'
          name='pokemon[number]'>
      </div>

      <div>
        <label 
          for='pokemon_poke_type'>Type:</label>
        <select
          id='pokemon_poke_type'
          name='pokemon[poke_type]'>
          <% Pokemon::TYPES.each do |type|%>
            <option><%= type %></option>
          <% end %>
        </select>
      </div>

      <button>Create Pokemon</button>
    </form>

    <ul class='pokemon-list'></ul>
  </div

  ><div class='pokemon-detail'>
	</div

  ><div class='toy-detail'>
  </div>

</div>
